* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Tahoma, sans-serif;
}

#mainBackground {
        background-image: url("../images/zadanie03.jpg");
        width: auto;
        height: 500px;
        background-position: center;
        background-size: cover;
        color: white;
}

#mainBackground h1 {
    text-align: center;
    margin-top: 110px;
    font-size: 150px;
}
#mainBackground h2 {
    padding-top: 25px;
}

.center {
    width: 1024px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
}

article {

    padding: 10px;
    border: solid 1px red;
}

article:last-child {
    border: solid 1px blue;

}

footer {
    width: auto;
    height: 200px;
    background-color: black;
}

footer .container {
    justify-content: flex-start;
    align-items: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer ul li {
    margin-top: 90px;
    color: white;

}

footer ul li:nth-child(2n) {
    margin: 90px 20px 0 20px;
}